apiVersion: apps/v1
kind: Deployment
metadata:
  name: mojave-node-deployment
  labels:
    app: mojave-node
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mojave-node
  template:
    metadata:
      labels:
        app: mojave-node
    spec:
      serviceAccountName: node-sa
      terminationGracePeriodSeconds: 30
      containers:
      - name: mojave-node
        image: starkgiwook/mojave-node:v0.1
        imagePullPolicy: Always
        args:
          - "init"
          - "--network"
          - "/data/testnet-genesis.json"
          - "--p2p.addr"
          - "0.0.0.0"
          - "--p2p.port"
          - "30305"
          - "--discovery.addr"
          - "0.0.0.0"
          - "--discovery.port"
          - "30305"
          - "--no-daemon"
        ports:
          - { name: p2p, containerPort: 30305, protocol: TCP }
          - { name: p2p-udp, containerPort: 30305, protocol: UDP }
---
apiVersion: v1
kind: Service
metadata:
  name: mojave-node-p2p
spec:
  selector:
    app: mojave-node
  ports:
    - { name: p2p, port: 30305, targetPort: 30305, protocol: TCP }
    - { name: p2p-udp, port: 30305, targetPort: 30305, protocol: UDP }
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: node-sa