apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sequencer-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: csi-cinder-high-speed-gen2